<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/base.css" media="screen" />
  </head>
  <body>
    <div class="container h-100 d-flex justify-content-center align-items-center">
      <h1>Rapi Noticias!</h1>
    </div>
    <div class="container h-100 d-flex justify-content-center align-items-center">
      <p>Rapinoticias como una pagina para ver las noticias en Costa Rica de una manera resumida (si por resumido entendemos solo el titulo) y le da la opcion a cada usuario de poder ver los links si quisieran verlas en mas detalle</p>
    </div>
    <div class="container h-80 d-flex justify-content-center align-items-center">
      <div class="row align-items-start">
        <div class="col">
          <a href="{{url_for('noticias_deportes')}}" id="a-homepage">Noticias Deportes</a>
        </div>
        <div class="col">
          <a href="{{url_for('noticias_el_pais')}}" id="a-homepage">Noticias El Pais</a>
        </div>
        <div class="col">
          <a href="{{url_for('noticias_mundo')}}" id="a-homepage">Noticias Mundiales</a>
        </div>
        <div>
          <a href="{{url_for('noticias_tecnologia')}}" id="a-homepage">Noticias Tecnologia</a>
        </div>
      </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>


